site_name: Ads Monitor
site_url: https://github.com/google-marketing-solutions/ads-monitor
repo_name: ads-monitor
repo_url: https://github.com/google-marketing-solutions/ads-monitor
copyright: Copyright Google 2025

theme:
  name: material
  font:
    text: Google Sans
    code: Roboto Mono
  palette:
    - scheme: default
      primary: white
      accent: white
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: white
      accent: white
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.footer
    - navigation.tracking
    - navigation.top
    - navigation.path
    - content.code.select
    - content.code.copy
markdown_extensions:
  - md_in_html
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.blocks.tab:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Exporting:
    - Gaarf Exporter: exporter/gaarf.md
    - Collectors: exporter/collectors.md
    - Config: exporter/config.md
  - Ecosystem:
    - Rules and Alerts: ecosystem/prometheus.md
    - Sending Notifications: ecosystem/alertmanager.md
    - Dashboards: ecosystem/grafana.md
